<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Today</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1> <%=dayName%> </h1>
    </div>

    <div class="box">

      <% for (i=0;i<task.length;i++){ %>
        <div class="item">
          <input type="checkbox" name="" value="">
          <p><%= task[i] %></p>
            </div>
           <%}%>


          <form  action="/" method="post">
            <input type="text" name="task" value="" placeholder="Add new task">
            <button type="submit" name="button">+</button>
          </form>


    </div>


  </body>
</html>
